.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  min-width: 100%;
  z-index: 1;
  & p {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    padding: 15px;

    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

  .searchContainer {
    position: relative;

    & input {
      padding-left: 20%;
      background-color: rgb(232, 232, 232);
      border: none;
      width: 35vw;
      height: 25px;
      border-radius: 3px;
    }

    .searchIcon {
      position: absolute;
      left: 5px;
      top: 5px;
    }
  }

  .iconButton {
    background-color: transparent;
    border: none;
    padding: 15px;
  }

  .iconButton:hover {
    cursor: pointer;
  }
}
